.cart-head
    a(href="#").cart-head__item
        .cart-head__icon
            +mixinSvg('30px', '28px', 'icon-cart', 'icon-cart')
        .cart-head__content
            .cart-head__content-title 1 Quick Play
            .cart-head__content-total N1,200
    a(href="#").cart-head__item
        .cart-head__icon
            +mixinSvg('30px', '28px', 'icon-cart', 'icon-cart')
        .cart-head__content
            .cart-head__content-title 1 Quick Play
            .cart-head__content-total N1,200