@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$radioText: '.radio-button__text';
$radioStatus: '.radio-button__status';
$radioStatusGray: '.radio-button__status-gray';
$radioItemStatus: '.radio-item__status';
$checkBoxText: '.checkbox-button__text';
$checkBoxStatus: '.checkbox-button__status';
$checkBoxItemStatus: '.checkbox-item__status';

.radio-button {
  display: inline-block;

  &:last-child {
    margin-right: 0
  }

  &--full-style {
    background: #FDFDFF;
    border-radius: 100px;
    min-height: 44px;
    padding: 12px 20px;
    margin-bottom: 10px;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
    display: none;

    &:checked + #{$radioText} #{$radioStatus}:after {
      opacity: 1;
    }
  }

  &__status {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      @include trn(.2s);
    }

    &:before {
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #D2D6E6;
      background-color: #f6f8f9;
    }

    &:after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      background: #219653;
      opacity: 0;
    }
  }

  &--gray {
    #{$radioText} {
      font-family: $hnb;
      font-size: 17px;
      line-height: 21px;
      color: #688C34;
    }
    .radio-button__status {
      position: relative;
      top: -1px;
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;

      .radio-button__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
        display: none;

        &:checked + #{$radioText} #{$radioStatus}:after {
          opacity: 1;
        }
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        @include trn(.15s);
      }

      &:before {
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #707070;
        background-color: #fff;
      }
      &:after {
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: #ffffff;
        opacity: 0;
        border: 6px solid #707070;
        border-radius: 50%;
      }
    }
  }

  &__status-gray2 {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      @include trn(.2s);
    }

    &:before {
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #D2D6E6;
      background-color: #f6f8f9;
    }
    &:after {
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: #ffffff;
      opacity: 0;
      border: 6px solid #707070;
      border-radius: 50%;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #153257;
    cursor: pointer;
    user-select: none;
  }

}

// Radio Items

.radio-item {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  user-select: none;

  &--mobile-hide {
    @include mobile-mini-screen {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0
  }

  &--full-style {
    background: #FDFDFF;
    border-radius: 100px;
    min-height: 44px;
    padding: 12px 20px;
    margin-bottom: 10px;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
    display: none;

    &:checked + #{$radioItemStatus} {
      background: #219653;
      color: #fff;
    }
  }

  &__status {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 42px;
    width: 100%;
    max-width: 110px;
    padding: 10px;
    background: #fefefe;
    color: #000;
    border: 1px solid rgba(33, 150, 83, 0.50);
    @include trn(.2s);

    &:hover {
      box-shadow: 0 0 0 2px #219653 inset;
      border: 1px solid #219653;
    }
  }

}

.checkbox-button {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  
  &--facebook {
    #{$checkBoxText} {
      font-family: $hnb;
      font-size: 16px;
      line-height: 20px;
      color: #2E5C92;
    }
    strong {
      display: flex;
      align-items: center;
    }
    svg {
      fill: #2E5C92;
      margin-right: 11px;
    }
  }

  &__input {
    display: none;
    z-index: -1;
    opacity: 0;

    &:checked + #{$checkBoxText} #{$checkBoxStatus}:before {
      opacity: 1;
    }
  }

  &__text-wrapper {
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__text {
    display: flex;
    font-family: $hnb;
    font-size: 13px;
    line-height: 16px;
    color: #1A1818;

    &--large {
      font-family: $hnr;
      font-size: 15px;
      line-height: 22px;
      .checkbox-button__status {
        top: 4px;
      }
    }
    &--big {
      font-family: $hnb;
      font-size: 17px;
      line-height: 21px;
      .checkbox-button__status {
        top: 2px;
      }
    }
    &--gray {
      color: #707070;
    }
    &--red {
      color: #E71621;
    }
    &--green {
      color: #688C34;
    }
  }

  &__status {
    position: relative;
    top: -1px;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 4px;
    width: 17px;
    min-width: 17px;
    height: 17px;
    margin-right: 14px;

    &:before {
      position: absolute;
      top: 3px;
      left: 3px;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 2px;
      background: #707070;
      @include trn(.1s);
      opacity: 0;
    }
  }
}

// CheckBox Items

.checkbox-item {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  width: 100%;

  &__input {
    display: none;
    z-index: -1;
    opacity: 0;

    &:checked + #{$checkBoxItemStatus} {
      background: #219653;
      color: #fff;
    }
  }

  &__status {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEFEFE;
    color: #000;
    border: 1px solid rgba(33, 150, 83, 0.50);
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 42px;
    width: 100%;
    max-width: 110px;
    padding: 10px;
    @include trn(.25s);
  }
}


