@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.about {
 &__content {
   margin-top: 35px;
   padding: 30px 115px 80px;
   background: #fff;
   @include boxShadow();
   @include laptop-small-screen {
     padding: 30px 40px 50px;
   }
   @include mobile-small-screen {
     padding: 0;
     background-color: transparent;
     box-shadow: none;
   }
   h1,h2 {
     font-family: $hnr;
     font-weight: normal;
     font-size: 40px;
     line-height: 45px;
     color: #3A9B3F;
     margin-bottom: 40px;
     @include mobile-small-screen {
       font-size: 25px;
       line-height: 29px;
       margin-bottom: 25px;
     }
   }
   strong {
     display: block;
     font-size: 20px;
     line-height: 25px;
     color: #707070;
     font-family: $hnb;
     @include mobile-small-screen {
       font-family: $hnr;
       font-size: 17px;
       line-height: 20px;
       font-weight: normal;
     }
   }
 }
  &__content-head {
    margin-bottom: 60px;
    @include mobile-small-screen {
      margin-bottom: 35px;
    }
  }
  p {
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-bottom: 24px;
    @include mobile-small-screen {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 18px;
    }
  }
  &__leadership {
    padding: 60px 115px 80px;
    background: #fff;
    @include boxShadow();
    @include laptop-small-screen {
      padding: 30px 40px 50px;
    }
    @include mobile-small-screen {
      padding: 30px 25px 50px;
    }
  }
  &__leadership-head {
    font-size: 40px;
    line-height: 45px;
    color: #3A9B3F;
    text-align: center;
    margin-bottom: 85px;
    @include laptop-small-screen {
      margin-bottom: 50px;
    }
  }

  &__leadership-body {
    display: grid;
    //grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fill ,minmax(200px, 300px));
    grid-gap: 30px 95px;
    justify-content: center;
    @include laptop-small-screen {
      grid-gap: 30px 30px;
    }
  }
  &__leadership-item {
    max-width: 300px;
    text-align: center;
  }
  &__leadership-image {
    position: relative;
    width: 180px;
    height: 180px;
    @include brr(50%);
    overflow: hidden;
    margin: 0 auto 35px;
  }
  &__leadership-img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include tt(-50%,-50%);
  }

  &__leadership-title {
    font-size: 25px;
    line-height: 29px;
    color: #3A9B3F;
    margin-bottom: 8px;
  }
  &__leadership-sub-title {
    font-family: $hnr;
    font-size: 17px;
    line-height: 21px;
    color: #012F00;
  }
  &__leadership-sub-text {
    font-family: $hnr;
    font-size: 18px;
    line-height: 21px;
    margin-top: 30px;
  }
}