mixin gameChoose()
    .game-page__ticket-item
        .game-page__ticket-heading Choose 5 main numbers
        .game-page__ticket
            .game-page__ticket-pick
                .game-page__ticket-step Ticket 1/1
                a(href="#").button.button--ticket.button--green QUICK PICK
                a(href="#").button.button--delete
                    +mixinSvg('20px', '25px', 'icon-delete', 'icon-delete')
            .game-page__circle-body
                .game-page__circle-wrapper
                    .game-page__circle-item.game-page__circle-item--red
                    .game-page__circle-item.game-page__circle-item--red
                    .game-page__circle-item.game-page__circle-item--red
                    .game-page__circle-item.game-page__circle-item--red
                    .game-page__circle-item.game-page__circle-item--red
                .game-page__circle-main
                    - for (var i=1; i<=70; i++)
                        .game-page__circle.game-page__circle--gray= i
                .game-page__ticket-title Choose your Jackpot number
                .game-page__circle-wrapper
                    .game-page__circle-item.game-page__circle-item--yellow
                .game-page__circle-main
                    - for (var i=1; i<=25; i++)
                        .game-page__circle.game-page__circle--yellow= i

section.section.section__game-page
    .layout
        .game-page
            .game-page__head
                .game-page__head-timer
                    .game-item__timer-wrapper
                        +mixinSvg('19px', '19px', 'icon-time', 'icon-time')
                        .game-item__timer.timer(data-date="2021-06-10")
                            .timer-days
                            .timer-hours
                            .timer-minutes
                            .timer-seconds
                    .game-page__timer-button
                        a(href="#").button.button--ticket.button--square HOW TO PLAY
                .game-page__tab-list
                    li.game-page__tab-li.game-page__tab-li--active Standard
                    li.game-page__tab-li Syndicates
                    li.game-page__tab-li Combos
                    //+listLink(title, url, classList, classLink)
            .game-page__body
                .game-page__item
                    .game-page__item-head
                        .game-page__ticket-mobile
                            .game-page__ticket-drop-name Pick Your Ticket Numbers
                            .game-page__ticket-drop
                                .game-page__ticket-drop-title
                                .game-page__ticket-drop-arrow.
                                    <svg width="31" height="19" viewBox="0 0 31 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L15.3638 15.364L28.728 2" stroke="white" stroke-width="4"/>
                                    </svg>
                        ul.game-page__ticket-list
                            +listLink('1 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link')
                            +listLink('5 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link game-page__ticket-link--active')
                            +listLink('7 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link')
                            +listLink('10 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link')
                            +listLink('15 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link')
                            +listLink('20 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link')
                            +listLink('25 Ticket', '#', 'game-page__ticket-li', 'game-page__ticket-link')
                        .game-page__ticket-button
                            a(href="#").button.button--ticket.button--square HOW TO PLAY
                            a(href="#").button.button--ticket.button--square.button--green QUICK PICK
                            a(href="#").button.button--delete
                                +mixinSvg('20px', '25px', 'icon-delete', 'icon-delete')

                    .game-page__item-main
                        +gameChoose()
                        +gameChoose()
                        +gameChoose()
                        +gameChoose()
                        +gameChoose()

        .game-page__total-wrapper
            .game-page__total-draws
                .game-page__draws-head
                    .game-page__draws-item
                        .game-page__draws-check
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" required="")
                                .checkbox-button__text.checkbox-button__text--big.checkbox-button__text--red
                                    .checkbox-button__status
                                    strong Mulptiplier
                            .game-page__draws-text
                                p Multiply any non-jackpot prize amount won by 2,3,4 or 5, depending on the Megaplier number drawn.
                    .game-page__draws-item
                        .game-page__draws-check
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" required="")
                                .checkbox-button__text.checkbox-button__text--big.checkbox-button__text--green
                                    .checkbox-button__status
                                    strong Subscription
                            .game-page__draws-text
                                p Subscribe, never miss a draw, and earn Free tickets!
                        .game-page__draws-icon(style="background-image: url(img/icons/labe.png);")
                            p Enjoy #[br] 10th Ticket #[br] #[span Free]

                .game-page__draws-choose
                    .game-page__choose-item
                        .game-page__choose-text
                            p How many draws would you like to use these numbers for?
                    .game-page__choose-item
                        label.radio-button--gray
                            input.radio-button__input(type="radio" name="radio" checked="checked" required="")
                            .radio-button__text
                                .radio-button__status
                                p 1
                        label.radio-button--gray
                            input.radio-button__input(type="radio" name="radio" required="")
                            .radio-button__text
                                .radio-button__status
                                p 2
                        label.radio-button--gray
                            input.radio-button__input(type="radio" name="radio" required="")
                            .radio-button__text
                                .radio-button__status
                                p 5
                        label.radio-button--gray
                            input.radio-button__input(type="radio" name="radio" required="")
                            .radio-button__text
                                .radio-button__status
                                p 10

            .game-page__total-main
                .game-page__total-item.game-page__total-item--offset
                    p.game-page__total-name 5 Draws (5 Tickets X N2,500)
                    p.game-page__total-sum N10,000
                .game-page__total-item
                    p.game-page__total-name Syndicate 1
                    p.game-page__total-sum
                .game-page__total-all
                    p.game-page__total-name Total
                    p.game-page__total-sum N10,000

        .game-page__buttons
            .game-page__buttons-item
                .game-page__button-check
                    label.checkbox-button.checkbox-button--facebook
                        input.checkbox-button__input(type="checkbox" required="")
                        .checkbox-button__text.checkbox-button__text--big.checkbox-button__text--green
                            .checkbox-button__status
                            strong.
                                <svg xmlns="http://www.w3.org/2000/svg" width="13.706" height="27.684" viewBox="0 0 13.706 27.684">
                                  <path d="M363.44,371.38q0-1.585,0-3.169c0-.17,0-.34,0-.511a.1.1,0,0,0-.027-.09c-.066-.011-.139-.026-.213-.036-.342-.047-.684-.092-1.027-.132q-.582-.067-1.166-.1c-.329-.021-.659-.037-.99-.039a8.643,8.643,0,0,0-1.554.118,6.174,6.174,0,0,0-1.5.457,5.006,5.006,0,0,0-2.043,1.674,5.709,5.709,0,0,0-.851,1.843,7.294,7.294,0,0,0-.217,1.209c-.029.309-.049.618-.049.929q0,1.329,0,2.658c0,.255,0,.511,0,.766,0,.034.009.07-.027.105-.047,0-.1,0-.156,0h-3.725a.278.278,0,0,0-.154.019c0,.058,0,.117,0,.176q0,2.088,0,4.175c0,.055,0,.11,0,.165,0,.029-.008.061.026.09.042,0,.092,0,.141,0h3.725a.364.364,0,0,1,.17.016c0,.06,0,.119,0,.178,0,3.573,0,9.457,0,13.1h5.012c0-3.639,0-9.522,0-13.1,0-.035,0-.07,0-.105s-.006-.061.034-.09h3.563a.189.189,0,0,0,.138-.025q.335-2.175.672-4.365c.011-.073.02-.147.03-.225a.423.423,0,0,0-.167-.014h-4.175c-.029,0-.061.007-.084-.019a.207.207,0,0,1-.011-.1q0-1.479,0-2.959a2.877,2.877,0,0,1,.126-.843,2.043,2.043,0,0,1,1.316-1.4,3.107,3.107,0,0,1,.88-.173c.145-.009.29-.008.435-.008h1.712a.249.249,0,0,0,.147-.017A.429.429,0,0,0,363.44,371.38Z" transform="translate(-349.736 -367.3)"/>
                                </svg>
                                Share on Facebook
                .game-page__button-submit
                    button.button.button--large.button--darkgreen Play