@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.section__game-page {
  position: relative;
  padding-top: 16px;
  padding-bottom: 50px;
}

.game-page {
  &__head {
    position: relative;
  }
  &__head-timer {
    position: absolute;
    top: 18px;
    @include laptop-small-screen {
      position: static;
    }
    @include table-large-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .game-item__timer-wrapper {
      align-items: center;
      @include table-large-screen {
        margin-bottom: 0;
      }
    }
    .game-item__timer {
      font-size: 22px;
      line-height: 27px;
      @include table-large-screen {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .icon-time {
      width: 32px;
      height: 32px;
      fill: #012F00;
      @include table-large-screen {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__timer-wrapper {
    margin: 0;
  }
  &__timer {}
  &__timer-button {
    display: none;
    @include table-large-screen {
      display: block;
    }
  }
  &__tab-list {
    display: flex;
    justify-content: center;
    border-bottom: 9px solid #688C34;
    @include mobile-large-screen {
      border-bottom: 0;
      margin-bottom: 35px;
    }
  }
  &__tab-li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $hnb;
    font-size: 23px;
    line-height: 28px;
    color: #707070;
    text-align: center;
    height: 67px;
    min-width: 200px;
    margin: 0 5px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    @include trn(.2s);
    cursor: pointer;
    user-select: none;
    @include mobile-large-screen {
      width: calc(100% / 3);
      height: 42px;
      min-width: auto;
      font-size: 15px;
      line-height: 18px;
      padding: 12px;
      margin: 0 2px;
      border-radius: 0;
      color: #000;
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
    &:hover,
    &--active {
      background: #688C34;
      color: #fff;
    }
  }

  // Body

  &__body {
    perspective: 2000px;
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 24px 25px;
    @include boxShadow();
    opacity: 0;
    visibility: hidden;
    transform: rotateX(-20deg) translateZ(0px);
    transform-style: preserve-3d;
    transform-origin: top;

    @include mobile-mini-screen {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }

    &--active {
      display: block;
      position: relative;
      transition: all .28s linear;
    }

    &--active-effect {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  // Tickets link top


  &__item-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @include mobile-large-screen {
      display: block;
      margin-bottom: 35px;
      text-align: center;
    }
    &--title {
      display: flex;
      align-items: center;
      font-family: $hnb;
      font-size: 25px;
      line-height: 31px;
      color: #688C34;
      @include mobile-large-screen {
        display: block;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
      }
    }
  }

  &__ticket-mobile {
    display: none;
    @include mobile-large-screen {
      display: block;
    }
  }
  &__ticket-drop {
    display: flex;
    max-width: 400px;
  }
  &__ticket-drop-name {
    font-family: $hnb;
    font-size: 17px;
    line-height: 21px;
    color: #707070;
    margin-bottom: 10px;
  }
  &__ticket-drop-title {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    font-family: $hnb;
    font-size: 12px;
    line-height: 15px;
    color: #707070;
    text-transform: uppercase;
    padding: 13px 44px 13px 16px;
    min-height: 44px;
    max-width: 400px;
    @include boxShadow();
  }
  &__ticket-drop-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #688C34;
  }

  &__ticket-list {
    display: flex;
    flex-wrap: wrap;
    //display: grid;
    //grid-template-columns: repeat(8, minmax(auto, 126px));
    //grid-gap: 10px 17px;
    list-style: none;
    @include mobile-large-screen {
      max-width: 400px;
      display: none;
    }
  }
  &__ticket-li {
    margin-bottom: 20px;
    @include mobile-large-screen {
      margin: 0;
    }
    &:not(:last-child) {
      margin-right: 17px;
      @include mobile-large-screen {
        margin: 0;
      }
    }
  }
  &__ticket-link {
    display: inline-block;
    width: 126px;
    font-family: $hnb;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #707070;
    padding: 14px 15px;
    background: #fff;
    @include boxShadow();
    @include trn(.2s);

    @include mobile-large-screen {
      font-size: 15px;
      line-height: 18px;
      width: 100%;
      box-shadow: none;
      color: #012F00;
      background: #F4F2F2;
    }

    &--active {
      @include tt(0, 10px);
      @include mobile-large-screen {
        @include tt(0, 0);
        background: #E6E6E6;
      }
    }
  }

  &__ticket-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    @include table-large-screen {
      display: none;
    }
    .button {

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  // Items

  &__item-main {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(256px, 1fr) );
    grid-gap: 10px 20px;
  }

  &__ticket-item {
    position: relative;
    max-width: 256px;
    @include mobile-mini-screen {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
  }
  &__ticket-title,
  &__ticket-heading{
    font-family: $hnb;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #707070;
    margin-bottom: 12px;
  }
  &__ticket-title {
    margin-bottom: 25px;
  }
  &__ticket {
    padding: 5px;
    background: #F7F7F7;
    @include brr(10px);
    @include mobile-mini-screen {
      padding: 0;
      background-color: transparent;
      @include brr(0);
    }
  }
  &__ticket-pick {
    display: flex;
    .button--ticket {
      width: 100%;
      margin-right: 5px;
      @include mobile-mini-screen {
        max-width: 120px;
        margin-right: 0;
        border-radius: 0;
      }
    }
    .button--delete {
      @include mobile-mini-screen {
        margin-right: 0;
        border-radius: 0;
      }
    }
  }
  &__ticket-step {
    font-family: $hnb;
    font-size: 11px;
    line-height: 13px;
    background: #FFC217;
    padding: 13px 5px 10px 18px;
    color: #000;
    display: none;
    @include mobile-mini-screen {
      display: block;
      width: 100%;
    }
  }
  &__circle-body {
    padding: 15px 10px;
    @include mobile-mini-screen {
      padding: 15px 0;
    }
  }
  &__circle-wrapper {
    display: grid;
    grid-template-columns: repeat(5,minmax(29px, 1fr));
    grid-gap: 10px 16px;
    margin-bottom: 25px;
    @include mobile-mini-screen {
      display: none;
    }
  }
  &__circle-item {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 2px solid #D5342F;
    background: #fff;

    &--yellow {
      border: 2px solid #F6C348;
    }
  }

  &__circle-main {
    display: grid;
    grid-template-columns: repeat(8,minmax(23px, 1fr));
    grid-gap: 12px 5px;
    margin-bottom: 25px;
  }

  &__circle {
    width: 23px;
    height: 23px;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background: #707070;
    padding: 6px 0;
    cursor: pointer;
    @include trn(.2s);
    @include mobile-mini-screen {
      width: 30px;
      height: 30px;
      font-size: 16px;
      line-height: 20px;
    }

    &--yellow {
      background: #FFC217;
      color: #012F00;
      &.game-page__circle--active {
        background: #E71621;
        color: #fff;
      }
    }
    &--gray {
      background: #707070;
      &.game-page__circle--active {
        background: #688C34;
      }
    }
  }

  // Total

  &__total-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px 20px;
    @include table-large-screen {
      display: block;
    }
  }
  &__total-draws {
    background: #fff;
    padding: 25px 20px 20px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include boxShadow();
    @include table-large-screen {
      margin-bottom: 20px;
    }
    @include mobile-small-screen {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }
  &__draws-head {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px 30px;
    border-bottom: 1px solid #707070;
    padding-bottom: 14px;
    margin-bottom: 25px;
    @include mobile-large-screen {
      display: block;
    }
    @include mobile-small-screen {
      border-bottom: 0;
    }
  }

  &__total-main {
    background: #fff;
    padding: 25px 20px 20px;
    @include boxShadow();
  }

  &__total-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: $hnb;
    font-size: 17px;
    line-height: 21px;
    color: #012F00;
    &--offset {
      margin-bottom: 35px;
    }
  }
  &__total-name {
    font-family: $hnb;
    font-size: 17px;
    line-height: 21px;
    color: #012F00;
    @include mobile-mini-screen {
      max-width: 150px;
    }
  }
  &__total-sum {
    font-family: $hnb;
    font-size: 17px;
    line-height: 21px;
    color: #688C34;
  }
  &__total-all {
    border-top: 1px solid #707070;
    padding-top: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__draws-item {
    display: flex;
    &:not(:last-child) {
      @include mobile-large-screen {
        margin-bottom: 32px;
        max-width: 450px;
      }
    }
  }

  &__draws-text {
    //max-width: 230px;
    margin-left: 32px;
    margin-top: 14px;
    color: #707070;
    font-size: 15px;
    line-height: 22px;
  }

  &__draws-icon {
    width: 94px;
    min-width: 94px;
    height: 94px;
    font-family: $hnb;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    padding: 20px 0 10px 5px;
    background-repeat: no-repeat;
    background-position: center;
    @include mobile-large-screen {
      margin-left: 20px;
    }
    span {
      color: #FFC217;
      text-transform: uppercase;
    }
  }

  &__draws-choose {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px 30px;
    @include mobile-small-screen {
      display: block;
    }
  }

  &__choose-text {
    font-family: $hnb;
    font-size: 17px;
    line-height: 21px;
    color: #688C34;
    @include mobile-small-screen {
      margin-bottom: 35px;
    }
  }

  &__choose-item {
    display: flex;
    .radio-button--gray {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @include mobile-small-screen {
      .radio-button--gray .radio-button__text {
        font-size: 25px;
        line-height: 31px;
      }
      .radio-button--gray .radio-button__status:after,
      .radio-button--gray .radio-button__status:before,
      .radio-button--gray .radio-button__status {
        width: 42px;
        height: 42px;
      }
      .radio-button--gray .radio-button__status:after {
        border: 12px solid #707070;
      }
    }

    @include mobile-mini-screen {
      .radio-button--gray .radio-button__text {
        font-size: 17px;
        line-height: 21px;
      }
      .radio-button--gray .radio-button__status:after,
      .radio-button--gray .radio-button__status:before,
      .radio-button--gray .radio-button__status {
        width: 30px;
        height: 30px;
      }
      .radio-button--gray .radio-button__status:after {
        border: 9px solid #707070;
      }
    }

  }

  &__buttons {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px 20px;
    align-items: center;
    margin-top: 16px;
    @include table-large-screen {
      grid-template-columns: 1fr 1fr;
    }
    @include table-large-m-screen {
      grid-template-columns: 1fr 2fr;
    }
    @include mobile-small-screen {
      display: block;
    }
  }
  &__buttons-item {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 400px) {
      flex-direction: column;
      align-items: initial;
    }
  }
  &__button-submit {
    flex: 1;
  }
  &__button-check {
    margin-right: 40px;
    @media (max-width: 400px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  // Syndicates

  &__syndicates {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(410px, 1fr));
    grid-gap: 38px 38px;
    justify-content: space-between;
    padding-bottom: 20px;
    @media (max-width: 450px) {
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
  }

  // Combo

  &__combo {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(410px, 1fr));
    grid-gap: 38px 38px;
    justify-content: center;
    padding-bottom: 20px;
    @include mobile-mini-screen {
      grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    }
  }

}
