@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.header-section__wrapper {
  display: flex;
  align-items: flex-start;

  @include table-large-screen {
    display: block;
  }
}