.million-text
    .million-text__title US Mega Millions
    .million-text__content
        .million-text__content-small N
        .million-text__content-big 500
        .million-text__content-small Million