@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.section__profile {
  padding-top: 60px;
  @include table-large-screen {
    padding-top: 25px;
  }
}

.profile {
  &__wrapper {
    display: grid;
    grid-template-columns: 85px 1fr minmax(300px, 300px);
    @media (max-width: 1369px) {
      grid-template-columns: auto 1fr 330px;
      display: grid;
      grid-gap: 10px 20px;
    }
    @include table-large-m-screen {
      grid-template-columns: auto 1fr;
    }
    @include table-large-screen {
      display: block;
    }
  }
  &__back {
    width: 85px;
    text-align: center;
    @media (max-width: 1369px) {
      width: 100%;
    }
    @include table-large-screen {
      display: none;
    }
    svg {
      fill: #707070;
    }
  }
  &__back-link {
    margin: 75px auto;
    display: inline-block;
  }

  // Item
  &__main {}
  &__item {
    @include boxShadow();
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(140px, 220px);
    grid-gap: 10px 20px;
    min-height: 156px;
    background: #fff;
    padding: 50px 36px 50px 80px;
    align-items: center;
    @media (max-width: 1369px) {
      grid-template-columns: 1fr 1fr 140px;
      padding: 50px 30px 50px 40px;
    }
    @include tablet-big-screen {
      display: block;
      padding: 24px 14px 14px 24px;
    }
    @include table-large-m-screen {
      display: grid;
      grid-template-columns: 1fr 1fr 140px;
    }
    @include mobile-large-screen {
      display: block;
    }
  }
  &__item-title {
    font-family: $hnb;
    font-size: 30px;
    line-height: 34px;
    color: #000;
    max-width: 370px;
    @include tablet-big-screen {
      margin-bottom: 17px;
    }
    @include table-large-m-screen {
      font-size: 25px;
      line-height: 29px;
    }
  }
  &__item-desc {
    font-family: $hnr;
    font-size: 15px;
    line-height: 22px;
    color: #707070;
    max-width: 320px;
    @include tablet-big-screen {
      margin-bottom: 10px;
    }
    @include table-large-m-screen {
      line-height: 17px;
    }
  }
  &__item-button {
    text-align: right;
    .button {
      max-width: 140px;
      @include mobile-small-screen {
        height: 42px;
        padding: 11px 22px;
        max-width: 100%;
        width: auto;
        min-width: 120px;
      }
    }
  }

  &__save-mobile {
    padding-bottom: 30px;
    display: none;
    @include mobile-small-screen {
      display: block;
    }
  }

  // Body

  &__body {
    background: #fff;
    padding: 0 20px;
    display: none;
    &--open {
      display: block;
    }
    &-wrapper {
      border-top: 1px solid #707070;
      padding: 40px 50px;
      @include laptop-small-screen {
        padding: 40px;
      }
      @include mobile-small-screen {
        padding: 30px 0;
      }
      @include mobile-mini-screen {
        padding: 20px 0;
      }
      &--no-offset {
        padding: 0;
      }
    }
  }

  &__personal-information {

  }
  &__personal-item {
    display: flex;
    width: 100%;
    padding: 30px 100px 34px 60px;
    @include laptop-small-screen {
      padding: 30px 40px 34px 40px;
    }
    @include table-large-screen {
      padding: 20px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #C7C7C7;
    }
  }
  &__person {
    display: flex;
    width: 100%;

    &--three {
      display: grid;
      grid-template-columns: repeat(3,minmax(120px, 170px));
      grid-gap: 10px 70px;
      @include laptop-small-screen {
        grid-template-columns: repeat(3,minmax(auto, 170px));
        grid-gap: 10px 20px;
      }
      @include mobile-small-screen {
        display: block;
      }
    }
  }
  &__person-info {
    //margin-right: 20px;
    @include mobile-small-screen {
      display: flex;
    }
    @media (max-width: 450px) {
      flex-direction: column;
    }
    &:not(:last-child) {
      @include mobile-small-screen {
        margin-bottom: 24px;
      }
    }
    &--birth {
      @include mobile-small-screen {
        flex-direction: column;
      }
    }
  }
  &__person-info-title {
    font-family: $hnr;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 20px;
    display: block;
    @include mobile-small-screen {
      display: flex;
      min-width: 120px;
      max-width: 120px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    @media (max-width: 450px) {
      margin-bottom: 10px;
    }
    span {
      color: #e71621;
      @include mobile-small-screen {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  &__person-info-content {
    font-family: $hnb;
    font-size: 18px;
    line-height: 22px;
    color: #012F00;
  }
  &__person-edit-wrapper {
    @include mobile-small-screen {
      display: none;
    }
  }
  &__person-edit {
    font-family: $hnb;
    font-size: 18px;
    line-height: 22px;
    color: #3A9B3F;
  }

  &__person-birth {
    display: flex;
    @include mobile-small-screen {
      margin-top: 20px;
      flex-wrap: wrap;
    }
    .popup-default__item {
      &:not(:last-child) {
        margin-right: 30px;
        @include mobile-mini-screen {
          margin-right: 14px;
        }
      }
    }
    .select-form+.select2-container {
      min-width: 135px;
      @include mobile-small-screen {
        min-width: 80px;
        min-height: 20px;
        border: 0;
      }
      .select2-selection {
        @include mobile-small-screen {
          min-height: 20px;
          &__rendered {
            @include mobile-small-screen {
              padding: 0 !important;
            }
          }
        }

      }
      .select2-selection--single {
        @include mobile-small-screen {
          height: 20px !important;
        }
      }
    }
  }

  &__person-option {
    display: flex;
    .phone-country__wrapper {
      max-width: 120px;
      @include mobile-small-screen {
        max-width: 90px;
      }
      .iti__flag-container {
        width: auto;
      }
    }
    p {
      font-family: $hnb;
      font-size: 18px;
      line-height: 22px;
      color: #1A1818;
    }
  }

  // Pay
  &__pay-wrapper {
    display: grid;
    //grid-template-columns: repeat(3,1fr);
    grid-template-columns: 200px 1fr 200px;
    grid-gap: 20px 30px;
    @include laptop-big-screen {
      display: flex;
      flex-direction: column;
    }
  }

  &__pay-item {
    .account__balance-item {
      @include table-large-m-screen {
        background: #f7f7f7;
        box-shadow: none;
      }
      .account__balance-number--big {
        @include mobile-small-screen {
          font-size: 30px;
          line-height: 34px;
        }
      }
    }
    &--card {
      .account__balance-item {
        padding-bottom: 15px;
      }
      .account__balance-title {
        margin-bottom: 20px;
      }
    }
  }

  // Validation
  &__validation {}
  &__validation-form {}
  &__validation-item {
    &:not(:last-child){
      margin-bottom: 40px;
      @include mobile-small-screen {
        margin-bottom: 20px;
      }
    }
  }
  &__validation-input {
    font-family: $hnr;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    max-width: 850px;
    color: #707070;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #C7C7C7;
    @include placeholder {
      font-family: $hnr;
      font-size: 15px;
      line-height: 20px;
      color: #707070;
    }
  }
  &__validation-button {
    margin-top: 60px;
    text-align: center;
    .button {
      max-width: 530px;
    }
  }

  // Identity

  &__identity {}
  &__identity-form {
    display: flex;
    @include mobile-mini-screen {
      flex-direction: column;
    }
  }
  &__identity-item {
    padding: 12px 18px;
    width: 100%;
    @include boxShadow();
    @include mobile-mini-screen {
      margin-bottom: 14px;
    }
    .file-load {
      display: flex;
      align-items: center;
    }
  }
  &__identity-button {
    .button {
      border-radius: 0 10px 10px 0;
      @include mobile-mini-screen {
        @include brr(10px);
      }
    }
  }

  &__notification {
    display: flex;
    justify-content: center;
    @media (max-width: 400px) {
      flex-wrap: wrap;
    }
    .button {
      margin: 10px 10px;
      width: 100%;
      @media (max-width: 400px) {
        margin: 10px 0;
      }
    }
  }

  &__label {
    display: block;
    font-family: $hnr;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
  }

  &__input-item {
    position: relative;
    width: 100%;
    max-width: 720px;
    input {
      padding-right: 30px;
    }
  }

  &__input {
    font-family: $hnb;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    color: #012F00;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #C7C7C7;
    @include placeholder {
      font-family: $hnr;
      font-size: 18px;
      line-height: 22px;
      color: #012F00;
    }
  }

  &__content {
    max-width: 450px;
    @include mobile-mini-screen {
      text-align: center;
    }
    p {
      font-family: $hnr;
      font-size: 15px;
      line-height: 20px;
      color: #707070;
    }
  }

  // Win
  &__win {
    @include table-large-screen {
      display: none;
    }
    .win-it-all {
      margin-left: 80px;
      @include laptop-big-screen {
        margin-left: 40px;
      }
      @media (max-width: 1369px) {
        margin-left: 0px;
      }
    }
  }
}