section.section.section__get-know
    .layout
        .get-know__wrapper
            .get-know__play-wrapper
                .heading
                    h3.heading__title How to Play
                .get-know__play
                    a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").get-know__play-video.popup-youtube
                        span.icon-play
                        +img('img/video/video1.jpg', '', 'How to Play')
            .get-know__our
                .get-know__our-wrapper
                    .get-know__our-buttons-wrapper(data-da=".get-know__wrapper,992,0")
                        .heading
                            h3.heading__title Get to Know Mega Millions Naija
                        .get-know__our-buttons
                            a(href="#").button.button--about.button--green About Us
                            a(href="#").button.button--about.button--green FAQs
                            a(href="#").button.button--about.button--green Privacy
                            a(href="#").button.button--about.button--green Play Responsibly
                            a(href="#").button.button--about.button--green Contact Us
                            a(href="#").button.button--about.button--green Terms and Conditions
                    .get-know__our-app
                        a(href="#").get-know__download Download the App
                        .get-know__store-wrapper
                            a(href="#").get-know__app-store
                                +img('img/store-app/appStore.png', '', 'App Store')
                            a(href="#").get-know__google-pay
                                +img('img/store-app/googlePay.png', '', 'Google Pay')