mixin popupDefault()
    .popup-default
        .popup-default__close
            +mixinSvg('21px', '21px', 'icon-close', 'icon-close')
        block

mixin popupDefaultSuccess()
    .popup-default
        block