@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.mfp-container {
  @include mobile-mini-screen {
    padding: 0;
  }
}

.popup-m {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    opacity: 0;
    z-index: 950;
  }

  &__wrapper {
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow-y: scroll;
    display: none;
    opacity: 0;
  }

  &__window {
    display: none;

    &--active {
      //position: fixed !important;
      //top: 80px;
      //left: 50%;
      //transform: translate(-50%, 0);
      //z-index: 1000;
    }
  }
}

.popup-default {
  position: relative;
  font-family: $hnb;
  font-size: 13px;
  line-height: 16px;
  color: #1A1818;
  background: #fff;
  max-width: 544px;
  padding: 55px 44px 38px;
  @include boxShadow();
  @include brr(10px);
  margin: 40px auto;

  @include mobile-mini-screen {
    margin: 0;
    @include brr(0);
    min-height: 100vh;
    background: #F7F7F7;
    padding: 100px 20px 40px;
  }

  &--video {
    max-width: 750px;
    padding: 25px 25px 40px;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    .icon-close {
      fill: #E71621;
    }

    @include mobile-mini-screen {
      display: none;
    }
  }

  &__close-mobile {
    display: none;
    @include mobile-mini-screen {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      width: 100%;
      padding: 20px 20px;
    }
  }

  .mfp-close {
    display: none !important;
  }

  &__heading {
    &--offset {
      margin-bottom: 36px;
    }
  }

  &__head {
    border-bottom: 1px solid #D6D6D6;
  }

  &__title {
    font-family: $hnb;
    font-size: 30px;
    line-height: 34px;
    color: #000;

    &--center {
      text-align: center;
    }
  }

  &__names {
    margin-top: 22px;
    margin-bottom: 36px;
  }

  &__title-custome {
    font-family: $hnb;
    font-size: 30px;
    line-height: 34px;
    color: #688C34;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 22px;
  }

  &__decsription {
    font-family: $hnr;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 12px;

    &--green {
      color: #688C34;
    }

    &--gray {
      color: #707070;
    }
  }

  &__content {
    &--offset {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      color: #000;
    }
  }

  &__form {
  }

  &__item {
    margin-bottom: 20px;

    &--offset-large {
      margin-top: 36px;
      margin-bottom: 36px;
    }

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    &--one_three {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-gap: 10px 10px;
    }

    &--three {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px 10px;
    }
  }

  &__label-main {
    font-family: $hnb;
    font-size: 18px;
    line-height: 22px;
    color: #012F00;
    margin-bottom: 20px;

    span {
      color: #E71621;
    }
  }

  &__label-small {
    font-family: $hnr;
    font-size: 15px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 10px;
    display: block;

    span {
      color: #E71621;
    }
  }

  &__link {
    font-family: $hnb;
    font-size: 13px;
    line-height: 16px;
    color: #1A1818;
  }

  &__desc {
    font-family: $hnr;
    font-size: 15px;
    line-height: 18px;
    color: #707070;
  }

  &__text {
    font-family: $hnb;
    font-size: 13px;
    line-height: 16px;
    color: #1A1818;

    &--large {
      font-size: 15px;
      line-height: 18px;
    }

    &--center {
      text-align: center;
    }

    &--or {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin: 16px 0 22px;
    }

    &--light {
      font-family: $hnr;
      font-size: 15px;
      line-height: 18px;
      color: #707070;
    }
  }

  &__button {

    &--offset-full {
      margin: 20px 0;
    }

    &--fifty {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 20px;
      @media (max-width: 450px) {
        display: block;
      }
      .popup-default__button-col {
        @media (max-width: 450px) {
          text-align: center;
        }

        &:not(:last-child) {
          @media (max-width: 450px) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &__verification {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px 20px;
    @include mobile-mini-screen {
      grid-gap: 10px 12px;

    }
  }

  &__verification-message {
    font-family: $hnr;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #707070;
    margin-top: 10px;

    strong {
      font-family: $hnb;
    }

    &--red {
      color: #E71621;
    }

    &--text {
    }
  }

  &__correct {
    text-align: center;
    padding: 15px 0 10px;

    img {
      max-width: 100%;
    }
  }

}

.popup-check {
  position: relative;
  max-width: 530px;
  background: #fff;
  @include boxShadow();
  margin: 40px auto;
  &__head {
    padding: 34px 20px;
    background: #012F00;
    color: #fff;
    text-align: center;
    .popup-default__close {
      top: 25px;
      right: 20px;
      svg {
        fill: #fff;
      }
    }
  }
  &__title {
    font-family: $hnr;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__desc {
    font-family: $hnb;
    font-size: 22px;
    line-height: 27px;
    max-width: 340px;
    margin: 0 auto;
  }
  &__content {
    position: relative;
    padding: 30px 85px 30px;
  }
  &__item {
    margin-bottom: 40px;
    .radio-button__text {
      align-items: flex-start;
    }
    .popup-check__text {
      margin-left: 40px;
      &-head {
        font-family: $hnb;
        font-size: 25px;
        line-height: 26px;
        color: #707070;
        margin-bottom: 12px;
        &--red {
          color: #E71621;
        }
        &--green {
          color: #688C34;
        }
      }
      &-desc {
        font-size: 15px;
        line-height: 22px;
        color: #707070;
      }
    }
  }
  &__button {
    padding-left: 80px;
  }
}

.syndicate-popup {
  max-width: 600px;
  padding: 60px 40px 65px;
  &__wrapper {
    max-width: 464px;
    width: 100%;
    margin: 0 auto;
  }
  &__tickets {
    font-family: $hnb;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    min-height: 100px;
    background: #00235D;
    padding: 32px 20px;
    text-align: center;
    @include brr(10px);
  }
  &__sub-title {
    font-family: $hnb;
    font-size: 17px;
    line-height: 21px;
    color: #012F00;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  &__table {
    background: #F7F7F7;
    padding: 30px 25px 0;
    max-height: 420px;
    overflow-y: auto;
    @include scrollbars(10px, #707070, transparent);
    @include brr(10px);
  }
  &__table-item {
    padding: 20px 15px;
    display: flex;

    //display: grid;
    //grid-template-columns: minmax(50px, 60px) 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    &:not(:last-child) {
      border-bottom: 1px solid #707070;
    }
  }
  &__num {
    width: calc(100% / 7);
    font-size: 25px;
    line-height: 31px;
    color: #012F00;
    &:first-child {
      min-width: 60px;
    }
    &--active {
      color: #E71621;
    }
  }
}

.popup-entry {
  padding: 50px 60px;
  max-width: 680px;
  width: auto;
  &--one {
    max-width: 400px;
  }
  .game-page__ticket-item {
    margin: 0 auto;
  }
  &__wrapper {}
  &__head {
    text-align: center;
    margin-bottom: 30px;
  }
  &__title {
    font-family: $hnb;
    font-size: 30px;
    line-height: 37px;
    color: #688C34;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
  }
  &__sub-title {
    font-family: $hnb;
    font-size: 13px;
    line-height: 16px;
    color: #707070;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-gap: 20px 28px;
  }
  &__button {
    margin-top: 18px;
    text-align: center;
    .button {
      max-width: 256px;
    }
  }
}
