.mobile-menu
    .mobile-menu__head
        a(href="#").mobile-menu__logo
            img(src="img/footer logo.svg" alt="Logo" width="120px")
    .mobile-menu__main
        ul.mobile-menu__ul
            +listLink('Home', '#', 'mobile-menu__list', 'mobile-menu__link mobile-menu__link--active')
            +listLink('All Lottos', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('United States Lottos', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('Euro Lottos', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('Special Offers', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('Blog', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('Results', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('Message', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('How to Play', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('My Profile', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('My Account', '#', 'mobile-menu__list', 'mobile-menu__link')
            +listLink('LOG IN / REGISTER', '#', 'mobile-menu__list', 'mobile-menu__link')