mixin slidePartner(src)
    .partner__item
        +img(src)

section.section.section__partner
    .layout
        .partner__wrapper
            +slidePartner("img/partner/partner1.png")
            +slidePartner("img/partner/partner2.png")
            +slidePartner("img/partner/partner3.png")
            +slidePartner("img/partner/partner4.png")
            +slidePartner("img/partner/partner5.png")
            +slidePartner("img/partner/partner6.png")