extends ../templates/main

block variables
    - var title = 'Name Site'

include ../blocks/header-section/header-section
include ../blocks/game-item/game-item
include ../blocks/win-it-all/win-it-all
block content
    +headerBanner('img/header-slider/header-slider10.jpg', '')
        .slider-header__logo-icon.slider-header__logo-icon--offset-large
            img(src="img/header-slider/footer-logo.png" alt="Logo Icon")
        .slider-header__content-block
            .slider-header__title-name Contact #[br]Us
    section.section.section__contact
        .layout
            .contact__wrapper
                .contact__main
                    .contact__get
                        .contact__get-head
                            h3 Get in touch
                            p Monday - Sunday: 7:00am - 5:00pm
                        .contact__menu
                            a(href="#" data-rename="Chat Us").contact__menu-button Let’s have a chat
                            a(href="#").contact__menu-button.contact__menu-button--active Drop us a message
                            a(href="#").contact__menu-button Call Us
                    .contact__item.contact__thanks
                        .contact__thanks-content
                            img(src="img/icons/email.png" alt="")
                            p.contact__thanks-main Your message #[br]have been received
                            p.contact__thanks-text Our agent will respond to you shortly.
                            p.contact__thanks-ok Thank You
                            p.contact__thanks-chek Check your message to get response from agent
                        
                .contact__win-it-all
                    +winItAll('win-it-all--small')
            .contact__social
                .contact__social-title We on Social Media
                .contact__social-desc Write us your queries, suggestions and feedback on our social media pages through post, tagging, comments, messages etc.
                .contact__social-social
                    .social__menu
                        a(href="#").social__menu-link
                            img(src="img/social-img/twitter-black.svg" alt="Twitter")
                        a(href="#").social__menu-link
                            img(src="img/social-img/facebook-black.svg" alt="facebook")
                        a(href="#").social__menu-link
                            img(src="img/social-img/instagram-black.svg" alt="Instagram")
                        a(href="#").social__menu-link
                            img(src="img/social-img/youtube-black.svg" alt="YouTube")

    include ../blocks/get-know/get-know
    include ../blocks/partner/partner