extends ../templates/main

block variables
    - var title = 'Name Site'
    - var user = true

include ../blocks/header-section/header-section
block content
    +headerOne()
    include ../blocks/game-page/game-page
    include ../blocks/get-know/get-know
    include ../blocks/partner/partner