extends ../templates/main

block variables
    - var title = 'Name Site'

include ../blocks/header-section/header-section
include ../blocks/game-item/game-item
block content
    +headerBanner('img/header-slider/header-slider9.jpg', '')
        .slider-header__logo-icon.slider-header__logo-icon--offset-large
            img(src="img/header-slider/footer-logo.png" alt="Logo Icon")
        .slider-header__content-block
            .slider-header__title-name How to #[br]Play
    section.section.section__how-to-play
        mixin howtoplay()
            .how-to-play__item
                .how-to-play__item-content
                    h3.how-to-play__title Standard Game
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
                    a(href="#").button.button--large.button--darkgreen Play
                .how-to-play__item-preview
                    .how-to-play__title.how-to-play__title--mobile Standard Game
                    .get-know__play
                        a(href="#how-to-play").popup.get-know__play-video
                            span.icon-play
                            +img('img/video/video1.jpg', '', 'How to Play')

        .layout
            .how-to-play__wpapper
                +howtoplay()
                +howtoplay()
                +howtoplay()
                +howtoplay()
                +howtoplay()

    include ../blocks/proposal/proposal
    include ../blocks/get-know/get-know
    include ../blocks/partner/partner