extends ../templates/main

block variables
    - var title = 'Name Site'

block content
    section
        .layout
            ul.menu-view
                +listLink('Index', 'index.html', 'menu-view__list', 'menu-view__link')
                +listLink('Home', 'home.html', 'menu-view__list', 'menu-view__link')
                +listLink('Special Offers LP', 'offers.html', 'menu-view__list', 'menu-view__link')
                +listLink('Careers', 'careers.html', 'menu-view__list', 'menu-view__link')
                +listLink('Message', 'message.html', 'menu-view__list', 'menu-view__link')
                +listLink('Popup', 'popup.html', 'menu-view__list', 'menu-view__link')
                +listLink('My Account', 'my-account.html', 'menu-view__list', 'menu-view__link')
                +listLink('Profile Edit', 'profile-edit.html', 'menu-view__list', 'menu-view__link')
                +listLink('Personal Info', 'profile-edit-show.html', 'menu-view__list', 'menu-view__link')
                +listLink('Game page', 'game-page.html', 'menu-view__list', 'menu-view__link')
                +listLink('Lotteries page', 'lotteries-page.html', 'menu-view__list', 'menu-view__link')
                +listLink('Result page', 'result.html', 'menu-view__list', 'menu-view__link')
                +listLink('About page', 'about.html', 'menu-view__list', 'menu-view__link')
                +listLink('Play Responsibly', 'play.html', 'menu-view__list', 'menu-view__link')
                +listLink('Privacy', 'privacy.html', 'menu-view__list', 'menu-view__link')
                +listLink('Terms & Conditions', 'conditions.html', 'menu-view__list', 'menu-view__link')
                +listLink('Faq', 'faq.html', 'menu-view__list', 'menu-view__link')
                //+listLink('Personal Info', 'personal-info.html', 'menu-view__list', 'menu-view__link')

    //include ../blocks/footer/footer