extends ../templates/main

block variables
    - var title = 'Name Site'

include ../blocks/popup-default/popup-default

include ../blocks/header-section/header-section
block content
    section
        .layout
            .heading
                .heading__title Popup Window

            ul.popup_lists
                li
                    a(href="#register").popup.popup_list Register
                li
                    a(href="#login").popup.popup_list Log In
                li
                    a(href="#login-error").popup.popup_list Log In Error
                li
                    a(href="#forgot-password").popup.popup_list Forgot Your Password
                li
                    a(href="#verification").popup.popup_list OTP Verification
                li
                    a(href="#successful").popup.popup_list OTP Confirmed
                li
                    a(href="#new-Password").popup.popup_list Enter Your New Password
                li
                    a(href="#play-video").popup.popup_list HOW TO PLAY
                li
                    a(href="#radio").popup.popup_list You are missing Something