extends ../templates/main

block variables
    - var title = 'Name Site'

mixin latestResult(src, title)
    .latest-results__table-item
        .latest-results__table-game
            .latest-results__game
                a(href="#").latest-results__game-logo
                    +img(src, '', title)
                .latest-results__game-content
                    a(href="#").latest-results__game-title=title
                    .latest-results__game-date 08-May-2021
                    .latest-results__table-draws-desc
                        p Multiplier/ Megaplier
        .latest-results__table-latest-draws
            .latest-results__table-draws-wrapper
                .latest-results__table-draw 23
                .latest-results__table-draw 23
                .latest-results__table-draw 23
                .latest-results__table-draw 23
                .latest-results__table-draw 23
                .latest-results__table-draw.latest-results__table-draw--gray 23
                .latest-results__table-draw.latest-results__table-draw--gray 23
            .latest-results__table-draws-desc
                p Multiplier/ Megaplier
        .latest-results__table-play
            a(href="#").button.button--play Play now

include ../blocks/header-section/header-section
include ../blocks/win-it-all/win-it-all
mixin winnerItem()
    .winner__item
        h4.winner__item-title Kazeem - $34,586
        p.winner__item-desc Imagine bagging over $24k with a 40p spin on Bounty Raid!

block content
    +headerBanner('img/header-slider/result.jpg', '')
        .slider-header__logo-icon.slider-header__logo-icon--offset-large
            img(src="img/header-slider/footer-logo.png" alt="Logo Icon")
        .slider-header__content-block
            .slider-header__title-name Lotteries
            .slider-header__sub-title You too can Hammer!
    section.section.section-results
        .layout
            .results__wrapper
                .latest-results__table
                    .latest-results__table-head
                        .latest-results__table-title Latest Results
                        .latest-results__table-find(data-da=".latest-results__table-title,992,0") Find results from the latest draws
                        .latest-results__table-all
                    .latest-results__table-main
                        +latestResult('img/logos/logo1.png', 'US Mega Millions')
                        +latestResult('img/logos/logo2.png', 'US Power Ball')
                        +latestResult('img/logos/logo3.png', 'Italian Super EnaLotto')
                        +latestResult('img/logos/logo4.png', 'European Millions')
                        +latestResult('img/logos/logo5.png', 'European Jackpot')
                        +latestResult('img/logos/logo1.png', 'US Mega Millions')
                        +latestResult('img/logos/logo2.png', 'US Power Ball')
                        +latestResult('img/logos/logo3.png', 'Italian Super EnaLotto')
                        +latestResult('img/logos/logo4.png', 'European Millions')
                        +latestResult('img/logos/logo5.png', 'European Jackpot')
                .latest-results__win
                    +winItAll()
                    .winner
                        .winner__head
                            h3.winner__title Latest Winners
                        .winner__body
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()
                            +winnerItem()

    include ../blocks/proposal/proposal
    include ../blocks/get-know/get-know
    include ../blocks/partner/partner