extends ../templates/main

block variables
    - var title = 'Name Site'
    - var user = true

include ../blocks/popup-default/popup-default
include ../blocks/header-section/header-section
block content
    include ../blocks/successful-game/successful-game
    include ../blocks/get-know/get-know
    include ../blocks/partner/partner