mixin winItAll(className)
    .win-it-all(class=className style="background-image: url(img/win-it-all1.jpg)")
        .win-it-all__content
            .win-it-all__title Win it all
            .win-it-all__sum #[span.win-it-all__small N] 500
            .win-it-all__small Million
        a(href="#").button.button--play.button--big Play Now

mixin winItAllOffers()
    .win-it-all.win-it-all__offers(style="background-image: url(img/win-it-all2.jpg)")
        .win-it-all__content
            .win-it-all__title Win it all
            .win-it-all__sum #[span.win-it-all__small N] 500
            .win-it-all__small Million
        a(href="#").button.button--play.button--big Play Now
