@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

:root {
  --white-color: #ffffff;
  --black-green-color: #012F00;

  --green-color: #219653;
  --blue-color: #7198CB;
}

::selection {
  background: #ccc;
  color: #4f4c66;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //transition: all 200ms ease-in;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $hnr;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  margin: 0;
  min-width: 320px;
  color: var(--black-green-color);
  background: #F7F7F7;
  padding-top: 80px;
  @include table-large-screen {
    padding-top: 80px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

.overlay-fill {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #AAAAAA;
  z-index: 200;
  @include trn(.2s);
  opacity: 0;
  visibility: hidden;
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.link {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: #219653;
  @include trn(.25s);
  @include table-large-screen {
    text-decoration: underline;
  }

  &:before {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #219653;
    @include trn(.25s);
    @include table-large-screen {
      display: none;
    }
  }

  &:hover {
    color: #36D379;

    &:before {
      background: #36D379;
    }
  }
}

.height-100 {
  @include offset(height, 60px, 100px, 480px, 991px);
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 49px solid transparent;
  border-left: 84px solid #ffffff;
  border-bottom: 49px solid transparent;
  @include tt(-50%, -50%);
  @include mobile-mini-screen {
    border-top: 30px solid rgba(0,0,0,0);
    border-left: 50px solid #fff;
    border-bottom: 30px solid rgba(0,0,0,0);
  }
}

.chat {
  position: fixed;
  right: 115px;
  bottom: 50px;
  @include mobile-large-screen {
    display: none;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    @include boxShadow();
    .icon-chat {
      fill: #000;
    }
  }
}

.height-40 {
  height: 40px;
}
.height-45 {
  height: 45px;
}
.height-60 {
  height: 60px;
}

.link-check {
  &--blue {
    color: #6382D4;
  }
  &--red {
    color: #E71621;
  }
}
.text-center {
  text-align: center;
}

* {
  //outline: 1px solid #44c3ff;
}

.popup-hide {
  display: none;
}

.menu-view {
  margin: 40px 0;
  li {
    margin-bottom: 14px;
  }
  a {
    font-family: $hnb;
    font-size: 20px;
    line-height: 21px;
    color: var(--black-green-color);
    @include trn(.12s);
    &:hover {
      opacity: .8;
    }
  }
}

