mixin select(sortSelect)
    select(data-tags="true" data-placeholder="Find Us" class=sortSelect)
        block

mixin selectPlaceholder(sortSelect, placeholder)
    select(data-tags="true" data-placeholder=placeholder class=sortSelect)
        block