@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.section__content {}

.content {
  margin-top: 35px;
  padding: 70px 115px 80px;
  background: #fff;
  @include boxShadow();
  @include laptop-small-screen {
    padding: 50px 40px 60px;
  }
  @include mobile-small-screen {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin-top: 30px;
  }
  h4 {
    font-size: 20px;
    line-height: 25px;
    color: #688C34;
    margin-bottom: 18px;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-bottom: 18px;
    min-height: 1px;
    @include mobile-small-screen {
      font-size: 17px;
      line-height: 20px;
    }
  }
}